*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header{
    
} */

.coordonnees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
    margin:auto;
 

}

.blue{
    fill: rgb(37, 37, 69);
}

h1, h2{
    text-align: center;
    margin-top: 30px;
    padding: 5px;
}

.imageProfile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
    
.imageProfile{
    /* display: flex;
    flex-direction: ; */
    margin-left: 10px;
    margin-top: 10px;
}

@media (max-width : 525px) {
    .coordonnees {
        flex-direction: column-reverse;
        align-items: center;
    }
}
  

